* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  /* font-size: 62.5%; */
}
body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #333;
}

/*****************************************/
/* GENERAL REUSABLE COMPONENT*/
/****************************************/

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  margin-bottom: 9.6rem;
}

.grid-center-v {
  align-items: center;
}
.grid--2--cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3--cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4--cols {
  grid-template-columns: repeat(4, 1fr);
}

/*****************************************/
/* general componeny */
/****************************************/
.heading-primary,
.heading-secondary,
.heading-tertiary {
  line-height: 1.05;
  font-weight: 700;
  color: #45260a;
}

.heading-primary {
  font-size: 5.2rem;

  letter-spacing: -0.5px;
  margin-bottom: 6.4rem;
}
.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}
.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  padding: 1.6rem 3.2rem;
  text-decoration: none;
  border-radius: 9px;

  /* put transition in orignal state */

  /* transition: background-color 0.3s; */
  transition: all 0.3s;
}

.btn-full:link,
.btn-fill:visited {
  background-color: #e67e22;
}
.btn-full:hover,
.btn-fill:active {
  background-color: #cf711f;
}

.btn-outline:link,
.btn-outline:visited {
  background-color: #fff;
  color: #555;
}
.btn-outline:hover,
.btn-outline:active {
  background-color: #fae5d3;
  /* border: 3px solid white; */
  box-shadow: inset 0 0 0 3px #fff;
}
.margin-right-sm {
  margin-right: 1.6rem !important;
}

strong {
  font-weight: 500;
}
.link:link,
.link:visited {
  display: inline-block;
  margin-bottom: 10px;
  color: #cf711f;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}
.link:hover,
.link:active {
  color: #e67e22;
  border-bottom: 1px solid transparent;
}

.center-text{
  text-align: center;
}